<div class="{{ theme.panel }}">    
    <button 
        mountTo="content_details"
        component="content::admin.content.add"
        title="{{ tooltip.create }}"
        class="{{ theme.buttons.green }} create-content">
        {{ buttons.create }}
    </button>      
</div>
<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>                          
                <th class="w-32">{{ columns.action }}</th>
                <th class="min-w-32">{{ columns.status }}</th>
                <th class="w-full">{{ columns.key }}</th>
                <th >{{ columns.type }}</th>
                <th >{{ columns.user }}</th>               
            </tr>
        </thead>
        <tbody 
            id="items_list" 
            component="content::admin.content.view.rows" 
            namespace="content">
            {{ component('content::admin.content.view.rows',{}) }}   
        </tbody>  
    </table>
    <div class="mt-2">
       
    </div>
</div>