{% set type_registry = service('content').typeRegistry().get(content_type) %}
{% set title = type_registry.getTitle() ~ ' ' ~ title %}
{% set actions = type_registry.getActions() %}
{% set fields = type_registry.getFields() %}

{% component 'system:admin.panel' %}

    <table class="{{ theme.table.details }}">
        <thead>
            <tr>
                <th class="w-1/3"></th>
                <th class="w-full"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.name }}</td>
                <td>{{ type_registry.getName() }}</td>
            </tr>   
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.title }}</td>
                <td>{{ type_registry.getTitle() }}</td>
            </tr>   
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.category }}</td>
                <td>{{ type_registry.getCategory() }}</td>
            </tr>   
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.handler }}</td>
                <td>{{ type_registry.getClass() }}</td>
            </tr>           
        </tbody>  
    </table>     
     
    <h4 class="font-bold mt-4">
        {{ labels.fields }}
    </h4>
    <table class="{{ theme.table.default }} table-xs">
        <thead>
            <tr>
                <th class="">{{ labels.name }}</th>
                <th>{{ labels.title }}</th>
                <th>{{ labels.type }}</th>
            </tr>
        </thead>
        <tbody>
            {% for field in fields %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ field.getName() }}</td>
                <td>{{ field.getTitle() }}</td>
                <td>{{ field.getType() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
    <h4 class="font-bold mt-4">
        {{ labels.actions }}
    </h4>
    <table class="{{ theme.table.default }} table-xs">
        <thead>
            <tr>
                <th class="">{{ labels.name }}</th>
                <th>{{ labels.title }}</th>
                <th class="">{{ labels.type }}</th>
                <th>{{ labels.handler }}</th>
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ action.getName() }}</td>
                <td>{{ action.getTitle() }}</td>
                <td>{{ action.getType() }}</td>
                <td title="{{ action.getClass() }}">
                    {{ action.getClass()|baseClass }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endcomponent %}