<div class="{{ theme.form.fields }}">
    <div class="{{ theme.form.field }}">
        <label class="{{ theme.form.label }}">
            {{ fields.type.label }}
        </label>
        {{ component('content::selector.type') }}
    </div>
    <div class="{{ theme.form.field }}">
        <label class="{{ theme.form.label }}">
            {{ fields.content.label }}
        </label>
        <div class="ui fluid" 
            id="content_provider_selector">
            {{ component('content::selector.provider',{ class: '' }) }}
        </div>
    </div>
</div>
<div class="mt-2" id="search_content">
</div>