{{  component('system:admin.tabs',{ 
        items: [ 
            {               
                title: labels.content, 
                component: 'content::admin.content', 
                svg_icon: 'icons~list', 
                active: true 
            },     
            {                
                title: labels.providers, 
                component: 'content::admin.providers.view', 
                svg_icon: 'icons~database', 
            },     
            {              
                title: labels.types, 
                component: 'content::admin.types.view', 
                svg_icon: 'icons~code', 
            },       
        ],
        menu: { 
            extension: 'content' 
        },
        content: { 
            component: 'content::admin.content'
        } 
    })
}}


{{  component('system:admin.modal.confirm',{
        id: 'confirm_delete'      
    }) 
}}