{% if content_type and content_id is not empty %}
    {% set content_item = content().type(content_type).get(content_id) %}
{% endif %}
{% set fields = content_item.fields() %}
{% set exclude = exclude|default([]) %}
{% if fields is not iterable %}
    {{ component('system:admin.alert.warning',{ message: message }) }}
{% endif %}

<div {{ class|attr('class') }}>
    {% if hide_title != true %}
    <h4 class="font-bold my-2">
        {{ content_item.getType.getTitle() }}
    </h4>           
    {% endif %}
    <table class="{{ theme.table.details }} {{ table_class }}">
        <thead>
            <tr>
                <th class="1/3"></th>
                <th></th>              
            </tr>
        </thead>
        <tbody>
            {% if hide_id != true %}
            <tr>
                <td class="{{ theme.table.field.label }}">
                    {{ labels.id }}
                </td>
                <td>
                    <div class="badge badge-sm badge-outline">
                        {{ content_item.getId() }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% for field in fields %}   
                {% set value = field.getValue() %}
                {% if (value is not empty) or (hide_empty != true and value is empty) %}
                    {% if field.getName() not in exclude %}
                    <tr>
                        <td class="{{ theme.table.field.label }} flex flex-rows items-center">
                            <div class="px-1">
                                {% if value is not empty and hide_copy != true %}
                                    {{  component('system:clipboard.copy',{ 
                                            type: 'element',
                                            focus_element: focus_element, 
                                            selector: '#field_' ~ field.getName() 
                                        }) 
                                    }}
                                {% endif %}
                            </div>      
                            <div class="flex-grow self-end">
                                {{ field.getTitle() }}
                            </div>                                                 
                        </td>
                        <td 
                            style="word-break: break-all;" 
                            class="break-all"
                            id="field_{{ field.getName() }}">{{ value }}</td>                      
                    </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>   
</div>