{% set providers = service('content').typeRegistry().getContentTypes(category) %}

<select 
    name="{{ name|default('content_type') }}" 
    class="{{ theme.form.select }} content-type-dropdown {{ class }} {{ size|default('slect-sm') }}" 
    id="{{ id|default('content_type_dropdown') }}">
    {% for key, item in providers %}                 
        <option 
            value="{{ key }}">                        
            {{ item.title }}
        </option>              
    {% endfor %}           
</select>