
{% set content = createModel('Content','content').orderBy('id') %}
{% set items = paginate(content,'content') %}
{% set items = items.getItems() %}
{% if items|length == 0 %}
    <tr>
        <td colspan="5">...</td>
    </tr>
{% endif %}
{% for item in items %}
<tr id="{{ item.uuid }}">        
    <td>
        <button 
            title="{{ labels.details }}"
            mountTo="content_details"
            component="content::admin.content.details"
            class="{{ theme.buttons.icon }} content-action" 
            params="uuid:{{ item.uuid }}">
            {{ component('icons~info',theme.icons.menu,'svg') }}
        </button>
        <button 
            title="{{ labels.edit }}"
            class="{{ theme.buttons.icon }} edit-content" 
            uuid="{{ item.uuid }}">
            {{ component('icons~edit',theme.icons.menu,'svg') }}
        </button>
        <button 
            title="{{ labels.delete }}"
            class="{{ theme.buttons.icon }} delete-content" 
            uuid="{{ item.uuid }}" 
            data-title="{{ item.title }}">
            {{ component('icons~trash',theme.icons.delete,'svg') }}
        </button>                     
    </td>
    <td>
        {{  component('system:admin.status.dropdown',{ 
                status: item.status, 
                uuid: item.uuid, 
                skip: [2,3,4,5,6] 
            }) 
        }} 
    </td>
    <td>
        {{ item.key }}
    </td>
    <td>
        {{ item.content_type }}
    </td>
    <td>
        {{ item.user.user_name_or_email|default('all') }}
    </td>            
</tr>
{% endfor %}